body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
    flex: 1 0 auto;
}

ul.dropdown-content.select-dropdown li span {
    color: #424242; /* no need for !important :) */
}
