{% extends 'base.html' %}
{% block body %}

<div class="row">
    <br>
    <br>

    <div class="col s7">
        <div class="card">
            <div class="card-content">
                <span class="card-title">Login to plzno Healthcare System</span>
                <br>
                <form action="{{url_for('login')}}" method="POST">

                    <div class="input-field">
                        <input class="grey-text text-darken-3" name="email" id="email" type="email" class="validate" value="{{email}}">
                        <label for="email">Email</label>
                    </div>

                    <div class="input-field">
                        <input class="grey-text text-darken-3" name="password" id="password" type="password" class="validate">
                        <label for="password">Password</label>

                        {% if error_messages %}
                        <span class="helper-text red-text">
                            <ul>
                                {% for error_message in error_messages %}
                                <li>{{error_message}}</li>
                                {% endfor %}
                            </ul>
                        </span>
                        {% endif %}
                    </div>

                    <button class="btn waves-effect waves-light" type="submit">
                        Login
                        <i class="material-icons right">send</i>
                    </button>

                </form>

                <br>
            </div>
        </div>
    </div>
</div>

{% endblock %}
